.item {
  display: flex;
  margin: 1rem;
  width: 90%;
  border: 3px solid #eee;
  border-radius: 10px;
  cursor: pointer;
}
.item:hover {
  background-color: #eee;
}
.item .right-info {
  margin: 20px 0 0 20px;
}
.item .right-info div:nth-child(1) {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 5px;
}
.item .right-info div:nth-child(2) {
  color: gray;
}
.item .right-info div:nth-child(3) {
  color: gray;
}
